.itemDescBox {
    display: grid;
    grid-template-areas:
        'brand'
        'price'
        'id';
    gap: 1rem;
    place-items: center;
}

.itemDescBox p:nth-child(1) {
    grid-area: brand;
    text-align: center;
}

.itemDescBox p:nth-child(2) {
    grid-area: price;
    text-align: center;
}

.itemDescBox p:nth-child(3) {
    grid-area: id;
    text-align: center;
}

.itemBox {
    @apply grid content-between gap-10 rounded p-4 shadow-inner duration-500 hover:shadow-lg hover:shadow-inner;
}

@media (min-width: 325px) {
    .itemDescBox {
        grid-template-areas:
            'brand brand'
            'price id';
    }
}

@media (hover: hover) {
    .itemBox:hover {
        transform: scale(1.1) !important;
        transition: transform 0.5s ease-in-out;
    }
}
